<div class="row">
    <nav style='height:"50px"' class="col-md-12 ">
        <a class="btn btn-primary btn-lg active col-md-offset-5" role="button" @Html.ActionLink("View hotels", "Index", "Hotel") > </a>
        <a class="btn btn-primary btn-lg active" role="button" @Html.ActionLink("Add Hotel", "addHotel", "Hotel") ></a>
    </nav>
</div>
