<div class="row">
    <nav style='height:50px' class="col-md-12 ">
        <a class="btn btn-primary btn-lg active col-md-offset-5" role="button" href="/booking/Hotel/Index1"> Index </a>
        <a class="btn btn-primary btn-lg active" role="button" href="/booking/hotels" > View Hotel </a>
        <a class="btn btn-primary btn-lg active" role="button" href = "/booking/Hotel/addHotel" > Add Hotel </a>
    </nav>
</div>
